@import "./variables";

.banner {
      font-family: "Montserrat", sans-serif;
      background-size: cover;
      background-position: center center;
      object-fit: contain;
      // max-width: 1760px;
      margin: auto;
      height: 50vw;
      @media (min-width: $widescreen) {
            height: 35vw;
      }
}

.banner__contents {
      padding-top: 2rem;
      padding-left: 1.5rem;
      @media (min-width: $tablet) {
            padding-top: 4rem;
            padding-left: 2rem;
      }
}

.banner__title {
      font-family: "Abril Fatface", cursive;
      letter-spacing: 0.05em;
      font-size: 4vw;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(24, 24, 24, 0.6);
}

.banner__description {
      font-size: 9px;
      width: 50vw;
      line-height: 1.5;
      text-shadow: 2px 2px 4px rgba(24, 24, 24, 0.6);
      overflow: hidden;
      // @media (max-width: $desktop) {
      //       font-size: 12px;
      // }
      @media (min-width: $tablet) {
            font-size: 1.4vw;
      }
}

.banner--fade {
      height: 32vw;
      background-image: linear-gradient(180deg, transparent, rgba(24, 24, 24, 0.6), #121212);
      @media (min-width: $widescreen) {
            height: 17vw;
      }
}
