@import "./variables";

.banner {
      font-family: "Montserrat", sans-serif;
      background-size: cover;
      background-position: center center;
      object-fit: contain;
      max-width: 1600px;
      margin: auto;
      height: 50vw;
      @media (min-width: $widescreen) {
            height: 35vw;
      }
}

.banner__contents {
      padding-top: 5rem;
      padding-left: 2rem;
}

.banner__title {
      font-size: 4vw;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(24, 24, 24, 0.6);
}

.banner__description {
      font-size: 1.4vw;
      width: 50vw;
      line-height: 1.5;
      text-shadow: 2px 2px 4px rgba(24, 24, 24, 0.6);
      overflow: hidden;
      @media (max-width: $desktop) {
            font-size: 12px;
      }
}

.banner--fade {
      height: 28vw;
      background-image: linear-gradient(180deg, transparent, rgba(24, 24, 24, 0.6), #121212);
      @media (min-width: $widescreen) {
            height: 16vw;
      }
}
