$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$background-navbar: rgb(15, 15, 15);
$text-navbar: #b40505;
$background: rgb(40, 40, 40);
$background-lighter: rgb(60, 60, 60);
$textColor: #f7ebec;
