@import "./row";
@import "./banner";
@import "./navbar";
@import "./footer";
@import "./variables";

body {
      min-height: 100%;
}
.app {
      background-color: $background;
      color: $textColor;
      height: 100%;
}
